@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya:ital,wght@0,500;1,400&family=Fira+Code:wght@300;500&display=swap');

:root {
  font-size: 16px;
  font-family: 'Alegreya', serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --gradient: linear-gradient(45deg,
      #845ec2,
      #D65DB1,
      #FF6F91,
      #FF9671,
      #FFC75F,
      #f7df1e
    );
}


body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track,
body::-moz-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb,
body::-moz-scrollbar-thumb {
  background: #6649b8;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

header .title, .title {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: 5.2rem;
  letter-spacing: 0.1em;
  margin: 1rem 0;
  z-index: 2;
  
}

header .title a {
  text-decoration: none;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: var(--transition-speed);
  background-size: 400%;
  background-position: left;
}

.title a:hover, .card__category a:hover {
  background-position: right;
}

header .subtitle {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}


main,
header,
footer {
  margin-left: 5rem;
  padding: 1rem;
}

.cards {
  width: 100%;
}

.card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: var(--bg-primary);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5rem;
  
}

.card .title {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: var(--transition-speed);
  background-size: 400%;
  background-position: left;
  animation: bg-animate 1s infinite alternate;
}

.tag {
  font-family: 'Fira Code', monospace;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-right: 1%;
  color: var(--text-secondary)
}

.tag:hover {
  color: #845ec2;
}

.navbar {
  position: fixed;
  z-index: 3;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #f7df1e;
}

.fa-secondary {
  color: #845ec2;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.photo-grid {
  display: grid;
  gap: 0.5rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /* transform: scale(1.10, 1.10); */
    z-index: 1;
    padding: 1rem;
}

.card:hover .technos {
  display: block;
  filter: none;
}
.technos {
  display: none;
  background-color: var(--bg-primary);
  padding: 0.5rem 1rem;
  opacity: 0.9;
  border-radius: 5px;
  transition: all ease var(--transition-speed);
}

.technos p {
  margin: 0.5rem 0;
}

.basic-grid {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow: auto;
}


/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  
  header .title, .title {
    font-size: 4.2rem;
    letter-spacing: 0.1em;
    margin: 1rem 0;
    z-index: 2;
  }

  .card:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      transform: none;
      z-index: 0;
      padding: 0.5rem;
  }

  main,
  header,
  footer {
  padding: 1rem;
  margin-left: 0;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .frame .social.twitter:hover i, body .frame .social.twitter:focus i, body .frame .social.linkedin:hover i, body .frame .social.linkedin:focus i, body .frame .social.codepen:hover i, body .frame .social.codepen:focus i {
    opacity: 1;
    font-size: 20vw;
    margin: 15vw 33vw;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {

  body {
    font-size: 1.3rem;
  }

  #wrapper {
    width: 1080px;
    margin: 0 auto;
  }

  .navbar {
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}


.frame {
  height: 50vw;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
}
.frame .picture {
  width: 100%;
  height: 100%;
  background-image: url("./../../media/wm.jpeg");
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: grayscale(100%);
}
.frame .social {
  position: absolute;
  right: 2vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  z-index: 2;
}
.frame .social a {
  display: contents;
}
.frame .social a i {
  color: white;
  margin: 7px;
  opacity: 0;
}
.frame .social.twitter {
  bottom: 2vw;
  background-color: #55acee;
}
.frame .social.linkedin {
  bottom: 10vw;
  background-color: #007bb5;
}
.frame:hover .picture, body .frame.focus .picture {
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.3) rotate(10deg);
}

.frame .social.twitter:hover, body .frame .social.twitter:focus, body .frame .social.linkedin:hover, body .frame .social.linkedin:focus, body .frame .social.codepen:hover, body .frame .social.codepen:focus {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: .8;
  z-index: 1;
  cursor: pointer;
}
.frame .social.twitter:hover i, body .frame .social.twitter:focus i, body .frame .social.linkedin:hover i, body .frame .social.linkedin:focus i, body .frame .social.codepen:hover i, body .frame .social.codepen:focus i {
  opacity: 1;
  font-size: 20vw;
  margin: 15vw 28vw;
}