
body {
    margin: 0;
    background: #1B1D1E!important;
    color: #333;
    font-family: 'Open Sans', '.SFNSText-Regular', 'Segoe UI', 'Helvetica', 'Lucida Grande', 'Tahoma', 'Yu Gothic UI', 'Malgun Gothic', sans-serif;
    font-size: 16px;
}

#wrapper {
    background: rgb(24, 26, 27);
}
